.rahul{
    width: 1730px;
    height: 790px;
    /* margin-left: 600px; */
    /* margin-top: 200px; */
    background-color: rgb(237, 244, 244);
}

.sign{
    /* width: 1730px;
    height: 800px; */
   padding-left: 650px;
   padding-top: 160px;
    background-color: rgb(237, 244, 244);
}

.input{
    display: inline;
    width: 500px;
    height: 350px;
}
.form{
    width: 450px;
    height:  50px;
    margin-left: 20px;
    background-color: rgb(41, 41, 140);
    /* border-radius: 100px; */
    border-left:0px;
}
.form2{
    width: 450px;
    height:  35px;
    /* background-color: rgb(113, 17, 57); */
    /* margin-left: 20px; */
}
.TAKING{
    width: 450px;
    height:  50px;
    border-radius: 40px;
    border-left:10px;
    
    /* background-color: rgb(113, 17, 57); */
}
.button{
    margin-top: 50px;
    width: 120px;
    margin-left: 185px;
    height:  50px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 40px;
    border-left:0px;

}
/* .rahul{
    width: 1700px;
    height: 900px;
    background-color: transparent;
} */